/* Big Tablet and 1200px */

@media only screen and (max-width: 1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .row {
    padding: 0 2%;
  }
}

blockquote {
  font-size: 19px;
}

/* Small tablet to big tablets:from 768px to 1023px */

@media only screen and (max-width: 1023px) {
  body {
    font-size: 15px;
  }
  section {
    padding: 50px 0px;
  }

  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
  .app-screen {
    width: 50%;
  }

  .work-steps p {
    font-size: 90%;
  }

  .work-steps div {
    padding-top: 7px;
    height: 40px;
    width: 40px;
  }
  .btn-app img {
    height: 40px;
  }

  .city-features {
    font-size: 90%;
  }

  .icon-big {
    font-size: 30px;
  }

  .icon-small {
    font-size: 15px;
  }

  .plan-price {
    font-size: 250%;
  }

  .plan-box {
    width: 100%;
    margin-left: 0mm;
  }
  .contact-form {
    width: 80%;
  }

  .footer-nav li {
    margin-right: 8px;
  }
}

/* Small Phones to small tablets: from 480px to 767px */

@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0px;
  }

  .row,
  .hero-text-box {
    padding: 0 4%;
  }
  .stick-top .top {
    display: none;
  }

  .main-nav {
    display: none;
  }
  .main-nav {
    float: left;
    margin-top: 25px;
    margin-left: 25px;
  }
  .main-nav li {
    display: block;
  }
  .main-nav li a:link,
  .main-nav li a:visited {
    padding: 10px 0;
    border: 0px;
    font-size: 100%;
    display: block;
  }

  .stick .main-nav {
    margin-top: 10px;
  }

  .stick .main-nav li a:link,
  .stick .main-nav li a:visited {
    padding: 10px 0;
  }
  .stick .mobile-nav-icon {
    margin-top: 10px;
  }
  .stick .mobile-nav-icon-btn {
    color: #000;
  }
  .mobile-nav-icon {
    display: inline-block;
  }

  h1 {
    font-size: 170%;
  }

  h2 {
    font-size: 140%;
  }

  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }

  .long-copy {
    width: 92%;
    margin-left: 4%;
  }
  .step-box:first-child {
    text-align: center;
  }

  .work-steps p {
    padding-top: 5px;
  }

  .work-steps {
    margin-bottom: 20px;
  }

  .work-steps div {
    padding-top: 4px;
    height: 30px;
    width: 30px;
  }

  .section-testimonials {
    margin-bottom: -20px;
  }

  blockquote {
    padding: 1%;
  }

  cite {
    margin-top: 10px;
  }

  blockquote::before {
    font-size: 350%;
    top: -0px;
    left: -15px;
  }

  .contact-form {
    width: 90%;
  }
  .box img {
    transform: scale(1);
    transition: transform 0.3s;
  }
  .box img:hover {
    transform: scale(0.9);
  }

  .footer-nav,
  .social-icons {
    float: none;
    text-align: center;
  }
  footer {
    padding-top: 20px;
  }
  footer p {
    margin-top: 15px;
  }
}

/* Small phones: from 0 to 480px */

@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }
  .contact-form {
    width: 100%;
  }
}
