/*========================*/
/* Basic Setup */
/*========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: rgb(34, 33, 33);
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
.clearfix {
  zoom: 1;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
/*========================*/
/* Reusable Components */
/*========================*/
.row {
  max-width: 1140px;
  margin: auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

/* Headings */
h1,
h2,
h3 {
  text-transform: uppercase;
  font-weight: 200px;
}
h1 {
  margin: 0;
  color: #fff;
  font-size: 200%;
  word-spacing: 3px;
  margin-bottom: 20px;
  font-weight: 300;
  letter-spacing: 1px;
}
h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
h2::after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
h3 {
  font-size: 110%;
  margin-bottom: 15px;
}
/* Paragraph */

.long-copy {
  width: 70%;
  margin-left: 15%;
  line-height: 145%;
  text-align: center;
  margin-bottom: 30px;
}
.box p {
  font-size: 90%;
  line-height: 145%;
}

/* Icons */

.icon-big {
  font-size: 300%;
  display: block;
  color: #e67e22;
  margin-bottom: 15px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  vertical-align: middle;
  line-height: 120%;
  margin-top: -4px;
}

/* Buttons */
.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300px;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  margin-right: 10px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
}
.btn-full:hover,
.btn-full:active {
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
}
.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
}
.btn-ghost:hover,
.btn-ghost:active {
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
}

.price-btn:link,
.price-btn:visited {
  color: #e67e22;
}
.price-btn:hover,
.price-btn:active {
  color: #fff;
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
}

/*------------------------*/
/*        Header          */
/*------------------------*/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}
.logo-black {
  display: none;
  width: auto;
  height: 50px;
  float: left;
  margin: 5px 0;
}
.main-nav {
  float: right;
  list-style: none;
  margin-top: 60px;
}
.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding-bottom: 8px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 300;
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}

/*   Mobile  Nav   */
.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}
.mobile-nav-icon-btn {
  font-size: 200%;
  color: #fff;
}

/*   Stick  Nav   */

.stick {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
  box-shadow: 0 2px 2px #efefef;
}
.stick .main-nav {
  margin-top: 15px;
}
.stick .main-nav li a:link,
.stick .main-nav li a:visited {
  padding: 15px 0px;
  color: #555;
}
.stick .logo {
  display: none;
}
.stick .logo-black {
  display: block;
}

/*   Stick  to TOP   */

.top {
  width: 50px;
  height: 50px;
  background-color: #e67e22;
  top: 90%;
  left: 95%;
  text-align: center;
  padding-top: 10px;
  margin-right: 5%;
  position: absolute;
  position: fixed;
  z-index: 999;
  border-radius: 10%;
  font-size: 16px;
  box-shadow: 0 2px 2px #cf6d17;
  display: none;
}
.top a {
  text-decoration: none;
  color: white;
}

.stick-top .top {
  display: block;
}

/*-------------------*/
/*       Meals       */
/*-------------------*/

.section-meals {
  padding: 0;
}
.meals-showcase {
  padding: 0;
  width: 100%;
  list-style: none;
}
.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}
.meal-photo img {
  opacity: 0.6;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.3s, opacity 0.3s;
}
.meal-photo img:hover {
  transform: scale(1.03);
  opacity: 1;
}

/* How It Works */

.step-box {
  margin-top: 30px;
}
.step-box:first-child {
  text-align: right;
  padding-right: 3%;
}
.step-box:last-child {
  padding-left: 3%;
}
.section-steps {
  background-color: #f4f4f4f4;
}

.app-screen {
  width: 40%;
}
.work-steps {
  margin-bottom: 51px;
}
.work-steps div {
  color: #e67e22;
  border: 2px solid #e67e22;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  float: left;
  font: 150%;
  margin-right: 15px;
  font-weight: 500;
}

.btn-app img {
  width: auto;
  height: 50px;
  margin-top: 30px;
  margin-left: 10px;
}

/*----------------*/
/*     Cities     */
/*----------------*/

.box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  transform: scale(1.15);
  transition: transform 0.3s;
}
.box img:hover {
  transform: scale(1.03);
}
.city-features {
  line-height: 135%;
}

/*----------------------*/
/*     Testimonials     */
/*----------------------*/

.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/back-customers.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
blockquote {
  padding: 1px;
  font-style: italic;
  line-height: 145%;
  position: relative;
}
cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}
cite img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
blockquote::before {
  content: "\201C";
  font-size: 400%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}
/*----------------------*/
/*       Sign Up        */
/*----------------------*/

.section-plans {
  background-color: #f4f4f4f4;
}
.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
}
.plan-box div {
  padding: 20px;
  border-bottom: 1px solid #e8e8e8;
}
.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 300;
  color: #e67e22;
}
.plan-price-meal {
  font-size: 80%;
}
.plan-price span {
  font-size: 30%;
  font-weight: 300;
}
.plan-box ul {
  list-style: none;
}
.plan-box ul li {
  padding: 5px 0;
}
.plan-box div:first-child {
  background-color: #e7e0e0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.plan-box div:last-child {
  text-align: center;
}
/*----------------------*/
/*     Contact Form     */
/*----------------------*/

.contact-form {
  width: 50%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
textarea {
  height: 100px;
  display: block;
}
input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}
*:focus {
  outline: none;
}

/*----------------------*/
/*        Footer        */
/*----------------------*/
footer {
  background-color: #333;
  padding-top: 60px;
}
.footer-nav {
  list-style: none;
  float: left;
}
.social-icons {
  list-style: none;
  float: right;
}
.footer-nav li,
.social-icons li {
  display: inline-block;
  margin-right: 20px;
}
.footer-nav a {
  text-decoration: none;
  color: #ccc;
}
footer p {
  color: #ccc;
  text-align: center;
  font-size: 90%;
  padding-bottom: 20px;
  margin-top: 25px;
}

/*     Animation       */
.js--wp-1,
.js--wp-2 {
  opacity: 0;
  animation-duration: 1s;
}
.js--wp-3 {
  animation-duration: 1s;
}
.js--wp-1 .animate__animated,
.js--wp-2 .animate__animated {
  opacity: 1;
  animation-duration: 1s;
}
